.client {
  @include section-padding($top: 94px, $bottom: 94px);

  &__list {
    display: flex;
    margin-top: 50px;
    gap: 30px;
    justify-content: center;
  }

  &__item {
    border-radius: 4px;
    border: 1px solid #afb1b8;
    display: flex;
    padding: 16px 32px;
  }

  &__item:hover > &__items {
    @extend %transition;
    fill: #2196f3;
  }
  &__item:hover {
    @extend %transition;
    border: 1px solid #2196f3;
  }

  &__title {
    color: var(--text-color);
    text-align: center;
    @extend %title-text;
    letter-spacing: 1.08px;
  }

  &__item {
    fill: #afb1b8;
    width: 170px;
    height: 92px;
  }
}
