.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal-window {
  transform: scale(1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-box {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.modal-title {
  color: $text-color;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.modal-window {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  transform: scale(1) translate(-50%, -50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 528px;
  height: 581px;
  @media screen and (max-width: 767px) {
    width: 420px;
    height: 609px;
    top: 50%;
    left: 45%;
  }
}

.no-scroll {
  overflow: hidden;
}

.modal-close-button {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: block;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal-close-button:hover {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2196f3;
  transition: ease-in 0.3s;
}

.modal-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.modal-name {
  color: $description-color;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modal-input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  @media screen and (max-width: 767px) {
    width: 370px;
    height: 40px;
  }
}

.modal-icons {
  position: absolute;
  top: 29px;
  left: 12px;
  fill: $text-color;
}

.modal-comment {
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  color: $text-color;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.12px;
  resize: none;
  @media screen and (max-width: 767px) {
    width: 370px;
    height: 120px;
  }
}

.modal-coment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.modal-label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.modal-text {
  color: $description-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;

}

.modal-link {
  color: #2196f3;
}
.modal-button {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background-color: #188ce8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 52px;
  margin: 0 auto;
  display: block;
  margin-top: 40px;
  border-color: transparent;
  transition-duration: 250ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
}

.overlay-box {
  position: relative;
  width: 370px;
  height: 294px;
  margin: 0 auto;
  background-color: #bdbdbd;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-box:hover .overlay {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translatey(0);
}

.overlay p {
  color: #fff;
  padding: 10px;
  margin: 0;
  font-size: 18px;
}
