.plus-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .plus-list {
    display: flex;
    gap: 30px;
  }
  
  .plus-item:first-child:before {
    display: block;
    content: url(../images/antenna.webp);
    animation-name: glide-picture-right1;
    animation-duration: 4s;
  }
  
  .plus-item:nth-child(2):before {
    display: block;
    content: url(../images/clock.webp);
    animation-name: glide-picture-right2;
    animation-duration: 4s;
  }
  
  .plus-item:nth-child(3):before {
    display: block;
    content: url(../images/diagram.webp);
    animation-name: glide-picture-right3;
    animation-duration: 4s;
  }
  
  .plus-item:nth-child(4):before {
    display: block;
    content: url(../images/astronaut.webp);
    animation-name: glide-picture-right4;
    animation-duration: 4s;
  }
  
  .plus-subtitle {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  
  .plus-description {
    color: var(--description-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;
  }