.plus {
  @include section-padding($top: 94px, $bottom: 94px);

  &__list {
    display: flex;
    gap: 30px;
    @media screen and (max-width: 1199px) {
      width: 738px;
      height: 480px;
      flex-wrap: wrap;
    }

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      width: 320px;
      height: 994px;
    }
  }

  &__item:first-child:before {
    display: flex;
    justify-content: center;
    content: url(../images/antenna.webp);
    @media screen and (min-width: 1200px) {
      animation-name: glide-picture-right1;
    animation-duration: 4s;
    }
  }

  &__item:nth-child(2):before {
    display: flex;
    justify-content: center;
    content: url(../images/clock.webp);
    @media screen and (min-width: 1200px) {
      animation-name: glide-picture-right1;
    animation-duration: 4s;
    }
  }

  &__item:nth-child(3):before {
    display: flex;
    justify-content: center;
    content: url(../images/diagram.webp);
    @media screen and (min-width: 1200px) {
      animation-name: glide-picture-right1;
    animation-duration: 4s;
    }
  }

  &__item:nth-child(4):before {
    display: flex;
    justify-content: center;
    content: url(../images/astronaut.webp);
    @media screen and (min-width: 1200px) {
      animation-name: glide-picture-right1;
    animation-duration: 4s;
    }
  }

  &__subtitle {
    color: $text-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 30px;

    @media screen and (max-width: 1199px) {
      text-align: center;
    }
  }

  &__description {
    color: $description-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;
    @media screen and (max-width: 1199px) {
      width: 354px;
      height: 48px;
    }
  }
}
