.portfolio {
  @include section-padding($top: 94px, $bottom: 94px);

  &__list {
    gap: 30px;
    flex-wrap: wrap;
    justify-content: start;
  }

  &__item {
    --grid-card: 3;
    border: 1px solid #eee;
    background: #fff;
    display: inline;
    @media screen and (max-width: 767px) {
      max-width: 450px;
      width: 100%;
      max-height: 404px;
      --grid-card: 1;
    }
    @media screen and (max-width: 1199px) {
      width: 354px;
      height: 404px;
      --grid-card: 2;
    }
    }

  &__item:hover {
    @extend %transition;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
      0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  }

  &__img {
    @media screen and (max-width: 767px) {
      max-width: 450px;
      width: 100%;
      height: 294px;
    }
    @media screen and (min-width: 768px) {
      width: 354px;
      height: 294px;
    }
    @media screen and (min-width: 1200px) {
      width: 370px;
      height: 294px;
      margin-bottom: 20px
    }
  }

  &__subtitle {
    color: $text-color;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    /* 200% */
    letter-spacing: 1.08px;
    margin-left: 24px;
    margin-top: 20px;
  }

  &__description {
    color: $description-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
    letter-spacing: 0.48px;
    margin-bottom: 20px;
    margin-left: 24px;
  }
}
