.team-section {
    background: #f5f4fa;
    @include section-padding ($top: 94px, $bottom: 94px);
  }
  
  .team-list {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .team-item {
    border-radius: 0px 0px 4px 4px;
    background: #fff;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }
  
  .team-img {
    width: 270px;
    height: 260px;
    flex-shrink: 0;
    margin-bottom: 30px;
  }
  
  .team-title {
    color: var(--text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
  
  .team-subtitle {
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
  }
  
  .team-description {
    color: var(--description-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
    margin-bottom: 30px;
  }
  
  .team-icon {
    fill: #afb1b8;
  }
  
  .team-link:hover > .team-icon {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #ffffff;
  }
  
  .team-link:hover {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #2196f3;
  }
  
  .team-link {
    width: 44px;
    height: 44px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  