.team {
    background: #f5f4fa;
    padding-bottom: 94px;
    padding-top:94px;

  
&__list {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
&__item {
    border-radius: 0px 0px 4px 4px;
    background: #fff;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }
  
&__img {
    width: 270px;
    height: 260px;
    flex-shrink: 0;
    margin-bottom: 30px;
  }
  
&__title {
    color: var(--text-color);
    text-align: center;
    @extend %title-text;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
  
&__subtitle {
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
  }
  
&__description {
    color: var(--description-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
    margin-bottom: 30px;
  }
  
&__icon {
    fill: #afb1b8;
  }
  
&__link:hover > .team-icon {
    @extend %transition;
    fill: #ffffff;
  }
  
&__link:hover {
    @extend %transition;
    background-color: #2196f3;
  }
  
&__link {
    width: 44px;
    height: 44px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
&__icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 42px;
  }

}