%header-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
}

%transition {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

%title-text {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
}