$grid-card: 3;
$accent-color: #2196f3;
$text-color: #212121;
$title-color: #fff;
$description-color: #757575;
$info-color: rgba(255, 255, 255, 0.6);
$links-color: #212121;
$article-text: #ffffff;
$footer-text: #ffffff;
$background-text: #eeeeee;