body {
    font-family: "Roboto", sans-serif;
  }

  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    border: transparent solid;
  }  
  .grid-item {
    width: calc((100% - 30px * var(--grid-card)) / var(--grid-card));
  }
  
  .grid-list {
    display: flex;
    grid-gap: 30px;
    justify-content: center;
  }