body {
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  border: black solid;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }

}
.grid-item {
  width: calc((100% - 30px * var(--grid-card)) / var(--grid-card));
}

.grid-list {
  display: flex;
  grid-gap: 30px;
  justify-content: center;
}
